.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    /* height: 0;
    visibility: hidden; */
}

.clearfix::after {
    /* 兄弟元素浮动，为受影响的兄弟元素添加clear */
    clear: both;
}

body {
    background-color: #000;
    color: #fff;
}

input {
    color: #fff !important;
}

input:focus {
    outline: none;
}

.container {
    box-sizing: border-box;
    margin: 0 1.25rem;
    /* width: 100%; */
}

/* theatre小图标 */
.lingshi::before,
.imax::before,
.jumu::before,
.park::before,
.card::before,
.tuan::before {
    height: 2.25rem;
    line-height: 2.25rem;
    border-radius: .3125rem;
    font-size: 1.5rem;
    padding: 0 .3125rem;
    margin-right: .375rem;
    /* theatre小图标 具体样式 */
    font-size: 1.5rem;
    /* line-height: 2.25rem; */
    line-height: 1.2;
}

.lingshi::before {
    content: '零食';
    width: 3.125rem;
    background: rgb(251, 194, 22);
}

.imax::before {
    content: 'IMAX';
    width: 5rem;
    background: rgb(160, 91, 246);
}

.jumu::before {
    content: '中国巨幕';
    width: 6.25rem;
    background: rgb(56, 197, 102);
}

.park::before {
    content: '停车场';
    width: 4.5rem;
    background: rgb(33, 195, 248);
}

.card::before,
.tuan::before {
    width: 1.5rem;
    border-radius: 0;
    margin-right: .5rem;
}

.card::before {
    content: '卡';
    background: rgb(56, 197, 102);
}

.tuan::before {
    content: '团';
    background: rgb(160, 91, 246);
}


.fire::before {
    content: '';
    background: url('../assets/icon/fire_icon.png');
}

.hot::before {
    content: '';
    background: url('../assets/icon/rank_icon.png');
}

.price::before {
    content: '';
    background: url('../assets/icon/price_icon.png');
}

.fire::before,
.hot::before,
.price::before {
    padding-right: 1.8rem;
    background-repeat: no-repeat;
    background-size: 1.25rem 1.625rem;
    background-position: 0 center;
}

.price::before {
    background-position: .25rem .1875rem;
}

.theatre {
    padding-bottom: 6.875rem;
}

.theatre li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18.75rem;
    margin-bottom: 1.25rem;
    flex-basis: 100%;
    padding: 0 1.25rem 1.25rem;
    background: rgb(38, 37, 37);
}

.theatre li div,
.theatre li p {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.theatre li div {
    padding: 1.25rem 0;
    border-bottom: .0625rem solid rgb(38, 37, 37);
}

.theatre div span {
    margin-left: 1.25rem;
}

.theatre div span:last-child {
    margin-right: 1.25rem;
}

.theatre .hot {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.theatre .card,
.theatre .tuan {
    margin-right: .5rem;
}

.theatre .price {
    color: rgb(247, 49, 113);
}

.theatre .fire,
.theatre li p:first-child,
.theatre .price {
    font-size: 1.625rem;
    line-height: 2.5rem;
}

.theatre li p:nth-child(2) {
    color: rgb(229, 229, 229);
}

.theatre .hot,
.theatre .place,
.theatre .km {
    color: rgb(179, 179, 179);
}


/* 导航栏 */
footer {
    position: fixed;
    bottom: 0;
    background-color: #222426;

    display: flex;
    width: 46.875rem;
    height: 6.875rem;
    justify-content: space-around;
    align-items: center;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    font-size: 1.5rem;
    color: #fff;
}

footer a:nth-child(1) span {
    background-image: url("../assets/icon/home_n_icon.png");
}

footer a:nth-child(2) span {
    background-image: url("../assets/icon/movie_n_icon.png");
}

footer a:nth-child(3) span {
    background-image: url("../assets/icon/cinema_n_icon.png");
}

footer a:nth-child(4) span {
    background-image: url("../assets/icon/find_n_icon.png");
}

footer a:nth-child(5) span {
    background-image: url("../assets/icon/mine_n_icon.png");
}

footer span {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

footer a:nth-child(1):hover span {
    background-image: url("../assets/icon/home_a_icon.png");
}

footer a:nth-child(2):hover span {
    background-image: url("../assets/icon/movie_a_icon.png");
}

footer a:nth-child(3):hover span {
    background-image: url("");
}

footer a:nth-child(4):hover span {
    background-image: url("");
}

footer a:nth-child(5):hover span {
    background-image: url("../assets/icon/mine_a_icon.png");
}

footer a:hover,
.active {
    color: #f73171;
}

/* footer a.active span {
    background-image: url("");
} */