.film {
    position: relative;
}

.film-name {
    position: absolute;
    display: block;
    top: 1.25rem;
    left: 1.25rem;
    font-size: 2rem;
    line-height: 3rem;
    height: 3rem;
}

ul {
    padding-bottom: 6.875rem;
}

ul li {
    margin-bottom: 1.25rem;
}

ul img {
    width: 3.125rem;
    border-radius: 50%;
}

.detail {
    display: flex;
    width: 46.875rem;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    font-size: 1.625rem;
    line-height: 2.5rem;
}

.detail div {
    height: 3.125rem;
}

.zan,
.fenxing,
.pinglun {
    display: flex;
    align-items: center;
    width: 9.375rem;
}

.zan::before {
    background: url('../../assets/icon/like_icon.png');
}

.fenxing::before {
    background: url('../../assets/icon/share_icon.png');
}

.pinglun::before {
    background: url('../../assets/icon/evaluate_2_icon.png');
}

.zan::before,
.fenxing::before,
.pinglun::before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.zan::after {
    content: '点赞';
}

.fenxing::after {
    content: '分享';
}

.pinglun::after {
    content: '评论';
}